<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xbgy.system.dao.AccountDao">
    <cache readOnly="true"/>
    
	<resultMap id="BaseResultMap" type="com.xbgy.system.model.Account">
		<id column="account_Id" property="accountId" jdbcType="INTEGER" />
		<result column="username" property="username" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="full_Name" property="fullName" jdbcType="VARCHAR" />
	</resultMap>

	<resultMap type="com.xbgy.system.model.Account" id="AccountWithRole"
		extends="BaseResultMap">
		<collection property="roleSet" ofType="com.xbgy.system.model.Role" resultMap="com.xbgy.system.dao.roleDao.BaseResultMap">
		</collection>
	</resultMap>
		
	<select id="getAccountByUsername" parameterType="Account"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from account
		where username = #{username} AND password = #{password}
	</select>
	
	<select id="getAccountByUsernameAndPassword" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from account
		where username = #{username}
	</select>

	<select id="getAccountWithRolesByUsername" resultMap="AccountWithRole"
		parameterType="java.lang.String">
		select
			a.account_Id,a.username,a.password,a.full_Name,
			r.role_Id,r.role_Name,r.role_Desc
		from account a,account_role ar,role r
		where a.account_Id = ar.account_id and r.role_Id = ar.role_id
		and a.username = #{username,jdbcType=VARCHAR}
	</select>
	
	<!--  generator -->
	<sql id="Base_Column_List">
		account_Id, username, full_name, password
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from account
		where account_Id = #{accountId,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from account
		where account_Id = #{accountId,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.xbgy.system.model.Account">
		insert into account (account_Id, username, full_name,
		password)
		values (#{accountId,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR},
		#{fullName,jdbcType=VARCHAR},
		#{password,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.xbgy.system.model.Account" keyColumn="accountId" useGeneratedKeys="true">
		insert into account
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="username != null">
				username,
			</if>
			<if test="fullName != null">
				full_name,
			</if>
			<if test="password != null">
				password,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="username != null">
				#{username,jdbcType=VARCHAR},
			</if>
			<if test="fullName != null">
				#{fullName,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.xbgy.system.model.Account">
		update account
		<set>
			<if test="username != null">
				username = #{username,jdbcType=VARCHAR},
			</if>
			<if test="fullName != null">
				full_name = #{fullName,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				password = #{password,jdbcType=VARCHAR},
			</if>
		</set>
		where account_Id = #{accountId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.xbgy.system.model.Account">
		update account
		set username = #{username,jdbcType=VARCHAR},
		full_name = #{fullName,jdbcType=VARCHAR},
		password = #{password,jdbcType=VARCHAR}
		where account_Id = #{accountId,jdbcType=INTEGER}
	</update>
</mapper>