<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xbgy.system.dao.PrivilegeDao">
    <cache readOnly="true"/>
    
	<resultMap id="BaseResultMap" type="com.xbgy.system.model.Privilege">
		<id column="priId" property="priId" jdbcType="INTEGER" />
		<result column="priName" property="priName" jdbcType="VARCHAR" />
		<collection property="roleSet" ofType="com.xbgy.system.model.Role" resultMap="com.xbgy.system.dao.roleDao.BaseResultMap">
		</collection>
	</resultMap>

	
	<select id="getRolesByPrivilege" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
			p.priId,p.priName,
			r.roleId,r.roleName,r.roleDesc
		from privilege p,privilege_role pr,role r
		where p.priId = pr.pId and r.roleId = pr.rid
		and p.priId = #{url,jdbcType=INTEGER}
	</select>
	
</mapper>