<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xbgy.system.dao.roleDao">
  <resultMap id="BaseResultMap" type="Role">
    <id column="role_Id" jdbcType="INTEGER" property="roleId" />
    <result column="role_Name" jdbcType="VARCHAR" property="roleName" />
    <result column="role_Desc" jdbcType="VARCHAR" property="roleDesc" />
  </resultMap>
  <sql id="Base_Column_List">
    role_Id, role_Name, role_Desc
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from role
    where role_Id = #{roleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from role
    where role_Id = #{roleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="Role">
    insert into role (role_Id, role_Name, role_Desc
      )
    values (#{roleId,jdbcType=INTEGER}, #{roleName,jdbcType=VARCHAR}, #{roleDesc,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="Role">
    insert into role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        role_Id,
      </if>
      <if test="roleName != null">
        role_Name,
      </if>
      <if test="roleDesc != null">
        role_Desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="roleName != null">
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleDesc != null">
        #{roleDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="Role">
    update role
    <set>
      <if test="roleName != null">
        role_Name = #{role_Id,jdbcType=VARCHAR},
      </if>
      <if test="roleDesc != null">
        role_Desc = #{roleDesc,jdbcType=VARCHAR},
      </if>
    </set>
    where role_Id = #{roleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="Role">
    update role
    set role_Name = #{roleName,jdbcType=VARCHAR},
      role_Desc = #{roleDesc,jdbcType=VARCHAR}
    where role_Id = #{roleId,jdbcType=INTEGER}
  </update>
</mapper>