<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xbgy.system.dao.UrlDao">
    <cache readOnly="true"/>
	<resultMap id="BaseResultMap" type="com.xbgy.system.model.Url">
		<id column="url_Id" jdbcType="INTEGER" property="urlId" />
		<result column="url_Name" jdbcType="VARCHAR" property="urlName" />
		<association column="pri_Id" property="privilege"  javaType="com.xbgy.system.model.Privilege" 
			resultMap="com.xbgy.system.dao.PrivilegeDao.BaseResultMap"></association>
	</resultMap>
	
	<select id="getRoleByUrl" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
			u.url_Id,u.url_Name,
			p.pri_Id,p.pri_Name,
			r.role_Id,r.role_Name,r.role_desc
		from url u,privilege p,privilege_role pr,role r
		where p.pri_Id = pr.pri_Id and r.role_Id = pr.role_id and u.pri_Id = p.pri_Id 
		and u.url_Name = #{url,jdbcType=VARCHAR}
	</select>
	
	  <sql id="Base_Column_List">
    url_Id, url_Name, pri_Id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from url
    where url_Id = #{urlId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from url
    where url_Id = #{urlId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xbgyy.system.model.Url">
    insert into url (url_Id, url_Name, pri_Id
      )
    values (#{urlId,jdbcType=INTEGER}, #{urlName,jdbcType=VARCHAR}, #{priId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xbgy.system.model.Url">
    insert into url
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="urlId != null">
        url_Id,
      </if>
      <if test="urlName != null">
        url_Name,
      </if>
      <if test="priId != null">
        pri_Id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="urlId != null">
        #{urlId,jdbcType=INTEGER},
      </if>
      <if test="urlName != null">
        #{urlName,jdbcType=VARCHAR},
      </if>
      <if test="priId != null">
        #{priId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xbgy.system.model.Url">
    update url
    <set>
      <if test="urlName != null">
        url_Name = #{urlName,jdbcType=VARCHAR},
      </if>
      <if test="priId != null">
        pri_Id = #{priId,jdbcType=INTEGER},
      </if>
    </set>
    where url_Id = #{urlId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xbgy.system.model.Url">
    update url
    set url_Name = #{urlName,jdbcType=VARCHAR},
      pri_Id = #{priId,jdbcType=INTEGER}
    where url_Id = #{urlId,jdbcType=INTEGER}
  </update>
</mapper>